{{ define "main" }}
<main id="main">
	<div class="container-content">
		<div class="body">

			<!-- LINKED IN -->
			<div class="contact-div">
				<a href="https://www.linkedin.com/in/brian-efflandt" target="blank">
					<div class="ico-bg">
						<i class="fa-5x no_pad  fab  fa-linkedin    icon-color"></i>
					</div>
				</a>
				<ul>
					<li>LINKED IN</li>
					<li class="">
						<a href="https://www.linkedin.com/in/brian-efflandt" target="blank">linkedin.com/in/brian-efflandt</a>
					</li>
				</ul>
			</div>

			<!-- EMAIL -->
			<div class="contact-div">
				<a href="mailto:efflandt.brian@gmail.com" target="blank">
					<div class="ico-bg">
						<i class="fa-5x no_pad  fas fa-envelope-square   icon-color"></i>
					</div>
				</a>
				<ul>
					<li>EMAIL</li>
					<li class="">
						<a href="mailto:efflandt.brian@gmail.com" target="blank">efflandt.brian@gmail.com</a>
					</li>
				</ul>
			</div>

			<!-- PHONE -->
			<div class="contact-div">
				<a href="tel:+13093404452" target="blank">
					<div class="ico-bg">
						<i class="fa-5x no_pad  fas fa-phone-square   icon-color"></i>
					</div>
				</a>
				<ul>
					<li>PHONE</li>
					<li class="">
						<a href="tel:+13093404452" target="blank">309-340-4452</a>
						<!-- <a href="https://voice.google.com/u/0/calls?a=nc,%2B[1-309-344-4452]" target="blank">309-340-4452</a> -->
					</li>
				</ul>
			</div>

			<!-- GITHUB -->
			<div class="contact-div">
				<a href="https://github.com/byron42" target="blank">
					<div class="ico-bg">
						<i class="fa-5x no_pad  fab fa-github   icon-color"></i>
					</div>
				</a>
				<ul>
					<li>GITHUB</li>
					<li class="">
						<a href="https://github.com/byron42" target="blank">github.com/byron42</a>
					</li>
				</ul>
			</div>

		</div>
	</div>

</main>
{{ end }}