{{ define "main" }}
<main id="main">
	<div class="container-content">

		<!-- STANDARD MODAL -->
		{{ range where .Pages "Type" "standard" }}
		<div class="modal fade" id="normalModal-{{ .File.UniqueID }}" tabindex="-1" role="dialog"
			aria-labelledby="normalModalCenterTitle" aria-modal="true">
			<div class="modal-dialog modal-dialog-centered " role="document">
				<div id="modalContent" class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="normalModalCenterTitle">{{ .Title }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<img class="content-image-modal img-fluid" src="{{ .Params.image }}">
						<div id="" class="">{{ .Content }}</div>
					</div>
					<div class="modal-footer">
						<button onclick="window.open('{{ .Params.code_url }}')" class="btn-mdl-cstm cstm-gray"
							rel="noopener" data-dismiss="modal">View Code</button>
						<button onclick="window.open('{{ .Params.repo_url }}')" class="btn-mdl-cstm cstm-gray"
							rel="noopener" data-dismiss="modal">View Repo</button>
					</div>
				</div>
			</div>
		</div>
		{{ end }}

		<!-- section title -->
		<div class="row section featured topspace">
			<h2 class="section-title">
				<span>{{.Description}}</span>
			</h2>
		</div>

		<!-- <div class="flex-content flex2 " > -->
		<div class="">
			<div class="card-grid li-margin 
			{{ if or (lt (len .Paginator.Pages) 3) (eq (len .Paginator.Pages) 4) }}
				list-items
			{{ else }}
				normal-grid
			{{ end }} ">
				{{ range .Paginator.Pages }}
				<div class="card-col">
					<div class="card">

						<!-- title -->
						<h1 class="content-title">
							{{ .Title }}
						</h1>

						<!-- VARS -->
						{{ $image := .Params.image }} <!-- vars from png being different size thumb -->
						{{ $png := "icon.png" }}
						{{ $cards := (where .CurrentSection.Pages "Type" "standard") }}

						<!-- GREATER THAN/EQUAL TO 2 CARDS SIZING -->
						{{ if lt $cards 3 }}
						<div tabindex="0" class="flex-items enable-pointer" data-toggle="modal"
							data-target="#normalModal-{{ .File.UniqueID }}">
							{{ else }}
							<div tabindex="0" class="flex-items shrink-full enable-pointer" data-toggle="modal"
								data-target="#normalModal-{{ .File.UniqueID }}">
								{{ end }}

								<img class="content-image shadow " src="{{ .Params.image }}">

								<!-- info icon -->
								<div id="image" {{ if eq (len .Content) 0 }}class="hidden" {{ end }}>
									<div class="icon-position">
										<div class="decoy-adjust">
											<img tabindex="-1" class="info-icon disable-pointer pulse" src="{{ .Site.BaseURL }}{{ .Site.Params.info }}">
										</div>
									</div>
									<div id="content" class="entry-content-new">{{ .Content }}</div>
								</div>
							</div>

							<!-- buttons -->
							<div class="button-row">
								<p class="text-center"><a href="{{ .Params.code_url }}" target="blank"
										class="btn btn-action content-button">VIEW CODE</a></p>
								<p class="text-center"><a href="{{ .Params.repo_url }}" target="blank"
										class="btn btn-action content-button">VIEW REPO</a></p>
							</div>
						</div>
					</div>
					{{ end }}
				</div>
			</div>

			<!-- <center class="">
			<ul class="pagination">
        {{ template "_internal/pagination.html" . }}
			</ul>
		</center> -->

		</div> <!-- /container -->
</main>
{{ end }}