{{ define "main" }}
<main id="main">
	<div class="container-content" >
		
		<!-- section title -->
		<div class="row section featured topspace">
			<h2 class="section-title">
			  <span>{{.Type}}</span>
			</h2>
		</div>

		<div class="flex-content flex2 " >
			{{ range .Paginator.Pages }}
			<div >
				<!-- title -->
				<h1 class="content-title">
					{{ .Title }}
				</h1>
				
				<!-- img/desc -->
				<div class="flex-items">  
					<img class="content-image shadow" src="{{ .Params.image }}">
					<div class="entry-content-new" >
						{{ .Content }}
					</div>
				</div>

				<!-- buttons -->
				<div class="flex flex2" >
					<p class="text-center" style="border-radius: 20px !important;"><a href="{{ .Params.code_url }}" target="blank" class="btn btn-action content-button">VEIW CODE</a></p>
					<p class="text-center"><a href="{{ .Params.repo_url }}" target="blank" class="btn btn-action content-button">VEIW REPO</a></p>
				</div>
			</div>
			{{ end }}
		</div>

		<!-- <center class="">
			<ul class="pagination">
        {{ template "_internal/pagination.html" . }}
			</ul>
		</center> -->

	</div>	<!-- /container -->
</main>
{{ end }}
