{{ define "main"}}
  <main id="main">

    <!-- <div class="container-content" style="margin-bottom: 80px;"> -->
    <div class="container-content">
      {{ if .Site.Params.showSubheader }}
        {{ partial "home/subheader.html" . }}
      {{ end }}
      
        {{ range .Site.Sections }}
            {{ range .Sections.ByWeight }}
                {{ $stype := .Type}}
                {{ if (or (and (eq $stype "project") (.Site.Params.showProjects))
                          (and (eq $stype "recent") (.Site.Params.showRecentWorks))
                          (and (eq $stype "download") (.Site.Params.showDownloads))
                          (and (eq $stype "client") (.Site.Params.showClients))
                          (eq $stype "single")) }}

                     <div class="row section featured topspace">
                       <h2 class="section-title">
                         <span>{{.Title}}</span>
                       </h2>
                       
                     {{ if eq $stype "project" }}
                       {{ partial "home/projects.html" . }}

                     {{ else if eq $stype "recent" }}
                       {{ partial "home/recent.html" . }}

                     {{ else if eq $stype "download" }}
                       {{ partial "home/download.html" . }}

                     {{ else if eq $stype "client" }}
                       {{ partial "home/clients.html" . }}

                     {{ else if eq $stype "single"  }}
                       {{ partial "home/single.html" . }}

                     {{ end }}
                </div>	<!-- /section -->
              {{ end }}
            {{ end }}
        {{ end }}
    </div>	<!-- /container -->
  </main>

{{ end }}
