<nav class="navbar navbar-default navbar-sticky">
    <div class="container-fluid">
        
        <a class="" href="/"><img class='img logo-nav -{{ .Site.Params.logoclass | default "LOGO"}} ' src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" alt="" ></a>
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle toggle-fix" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ .Name }}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {{ range .Children }}
                        <li>
                            <a href="{{ .URL | relLangURL }}" {{ if $.IsHome }} data-target="{{ .URL }}" {{ end }}>
                                {{ .Name }}
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </li>
                {{ else }}
                <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            {{ end}}
                <li>
                    
                    
                    <!-- <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#home">Home</a>
                        <a href="#about">About</a>
                        <a href="#contact">Contact</a>
                    </div>
                    </div> -->
                    <a onclick="myFunction()" class="dropbtn" style="margin-right: -25px;">Contact</a>
                    

                    <!-- <a onclick="myFunction()">contact</a> -->
                </li>
            </ul>
           

        </div> 
        <!--/.nav-collapse -->
    </div>
    <div class="dropdown">
        <!-- <button onclick="myFunction()" class="dropbtn">Dropdown</button> -->
        <div id="myDropdown" class="dropdown-content">
          
          {{ range .Site.Params.social }}
                  {{ if .footer }}
                    <a class="" href="{{ .url }}" target="_blank"><i class="{{ .icon }} fa-2x no_pad"></i></a>
                  {{ end }}
                  {{ end }}
          
        </div>
      </div>
</nav>
