<nav class="navbar navbar-default navbar-sticky">
    <div class="container-fluid">
        
        <a class="" href="/"><img class='img logo-nav -{{ .Site.Params.logoclass | default "LOGO"}} ' src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" alt="" ></a>
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle toggle-fix" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ .Name }}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {{ range .Children }}
                        <li>
                            <a href="{{ .URL | relLangURL }}" {{ if $.IsHome }} data-target="{{ .URL }}" {{ end }}>
                                {{ .Name }}
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </li>
                {{ else }}
                <li>
                    <a href="{{ .URL }}" target="_self">{{ .Name }}</a>
                </li>
                {{ end }}
            {{ end}}

                <!-- ----------------------------------------------- -->
                <!-- function for calling js for contact icons -->
                <li>
                    <!-- <a id="handleDrop" onclick="contactIcons()" class="dropbtn">Contact</a> -->
                    <!-- <a id="handleDrop" class="dropbtn" style="margin-right: -25px;">Contact</a> -->
                </li>
                <!-- ----------------------------------------------- -->
            </ul>
        </div> 
    </div>

    <!-- popup contact icons -->
    <div class="dropdown">
        <div id="myDropdown" class="dropdown-content">
          {{ range .Site.Params.social }}
                {{ if .footer }}
                <a class="" href="{{ .url }}" target="blank"><i class="{{ .icon }} fa-2x no_pad icon-color"></i></a>
                {{ end }}
          {{ end }}
          
        </div>
    </div>
</nav>
