
<div class="row">
    {{ range where .Data.Pages "Section" .Section }}
      <div class="col-sm-6 col-md-3">
        <h3 class="text-center">{{ .Title }}</h3>
        <button class='img button-project -{{ .Site.Params.button_bgclass | default "BUTTON"}} ' src="{{ .Site.BaseURL }}{{ .Site.Params.button_bg }}" alt="" onclick="window.location.href='/';" >
          <p>Read More</p>
        </button>
        <p>{{ .Summary }}</p>
        <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Read more</a></p>
       
       
        <!-- <img class='img button-project -{{ .Site.Params.button_bgclass | default "BUTTON"}} ' src="{{ .Site.BaseURL }}{{ .Site.Params.button_bg }}" alt="" > -->
      
      
      
      </div>
    {{ end }}
</div>