<!-- for opening info links in new tab -->
<base  target="_blank">


<div class="container-content" >

	<div class="flex-content flex2 " >
		{{ range .Paginator.Pages }}
		<div >

			<!-- title -->
			<h1 class="content-title">
				{{ .Title }}
			</h1>

			<div class="flex-items shrink-full enable-pointer" >  
				<img class="content-image shadow "  src="{{ .Params.image }}"> 
				
				<!-- info icon -->
				<div tabindex="0" id="image">
					<div class="icon-position">
						<div class="decoy-adjust" {{if eq (len .Content) 0}} class="hidden" {{end}}> <!-- only if content -->
							<img class="info-icon" src="{{ .Site.BaseURL }}{{ .Site.Params.info }}"> 
							<img class="decoy-icon decoy-position disable-pointer pulse" src="{{ .Site.BaseURL }}{{ .Site.Params.info }}"> <!-- DECOY -->
						</div>
					</div> 
					<!-- conditional content -->
					<div id="content" class="entry-content-recent">{{ .Content }}</div>
				</div>
			</div>

			{{ $url := .Params.demo_url }}
			{{ $string := "" }}

			{{ if eq $url $string }}
			<!-- buttons -->
			<div class="flex flex2" >
				<p class="text-center"><a href="{{ .Params.code_url }}" target="blank" class="btn btn-action content-button">CODE</a></p>
				<p class="text-center"><a href="{{ .Params.repo_url }}" target="blank" class="btn btn-action content-button">REPO</a></p>
			</div>
			
			{{ else }}
			<!-- buttons -->
			<div class="flex flex2" >
				<p class="text-center"><a href="{{ .Params.demo_url }}" target="blank" class="btn btn-action content-button">DEMO</a></p>
				<p class="text-center"><a href="{{ .Params.code_url }}" target="blank" class="btn btn-action content-button">CODE</a></p>
				<p class="text-center"><a href="{{ .Params.repo_url }}" target="blank" class="btn btn-action content-button">REPO</a></p>
			</div>
			{{ end }}

		</div>
		{{ end }}
	</div>
</div>