{{ define "main" }}
<main id="main">
	<div class="container-content" >
		
		<!-- section title -->
		<div class="row section featured topspace">
			<h2 class="section-title">
			  <span>{{.Description}}</span>
			</h2>
		</div>

		<div class="flex-content flex2">
			
			{{ range .Paginator.Pages }}
			<div class="section-buffer">

				<!-- title -->
				<h1 class="content-title ">{{ .Title }}</h1>

				<div class="flex-items enable-pointer">  
					<img class="content-image shadow " src="{{ .Params.image }}"> 
					
					<!-- info icon -->
					<div tabindex="0" id="image" {{if eq (len .Content) 0}} class="hidden" {{end}}>
						<div class="icon-position">
							<div class="decoy-adjust"> <!-- only if content -->
								<img class="info-icon" src="{{ .Site.BaseURL }}{{ .Site.Params.info }}"> 
								<img class="decoy-icon decoy-position disable-pointer pulse" src="{{ .Site.BaseURL }}{{ .Site.Params.info }}"> <!-- DECOY -->
							</div>
						</div> 
						<!-- conditional content -->
						<div id="content" class="entry-content-new">{{ .Content }}</div>
					</div>
				</div>
			
				<!-- buttons -->
				<div class="flex flex2">
					<p class="text-center"><a href="{{ .Params.sow_url }}" target="blank" class="btn btn-action content-button">SOW</a></p>
					<p class="text-center"><a href="{{ .Params.repo_url }}" target="blank" class="btn btn-action content-button">REPO</a></p>
					<p class="text-center"><a href="{{ .Params.erd_url }}" target="blank" class="btn btn-action content-button">ERD</a></p>
				</div>
			</div>
			<!-- END TEMPLATE -->

			<hr class="accessHR">
			
			<!-- screenshots -->
			<div class="flex flex2 access-padding-bot">
				<div class="flex flex2">
					<ul  id="ul-flex" class="flex flex2">
						<li class="shadow"><img class="content-image" src="{{ .Params.image1 }}"></li>
						<li class="shadow"><img class="content-image" src="{{ .Params.image2 }}"></li>
						<li class="shadow"><img class="content-image" src="{{ .Params.image3 }}"></li>
						<li class="shadow"><img class="content-image" src="{{ .Params.image4 }}"></li>
						<li class="shadow"><img class="content-image" src="{{ .Params.image5 }}"></li>
						<li class="shadow"><img class="content-image" src="{{ .Params.image6 }}"></li>
					</ul>
				</div>
			</div>

			<!-- disclaimer -->
			<div>
				<h5 class="disclaimer">
					* All contact information, names, figures, and locations were fabricated specifically for example purposes while creating this project
				<h5>
			</div>
			<!-- screenshots -->

			{{ end }}
		</div>
	</div>	<!-- /container -->
</main>
{{ end }}
