{{ define "main" }}
<main id="main">
	<div class="container-content" >
		
		<!-- section title -->
		<div class="row section featured topspace">
			<h2 class="section-title">
			  <span>{{.Description}}</span>
			</h2>
		</div>

		<div class="flex-content flex2 " >
			
			{{ range .Paginator.Pages }}
			<div >

				<!-- title -->
				<h1 class="content-title">
					{{ .Title }}
				</h1>

				<!-- img/desc (conditional icon/image)-->
				{{ $image := .Params.image }}
		   		{{ $png := "icon.png" }}

				{{ if eq $image $png }}
				<!-- true -->
				<div class="flex-items-sm">  
					<img class="content-image-sm shadow" src="{{ .Params.image }}">  
					
					<!-- info icon -->
					<div id="image">
						<div class="icon-position">
							<div {{if eq (len .Content) 0}} class="hidden" {{end}}> <!-- only if content -->
								<img class="info-icon" src="{{ .Site.BaseURL }}{{ .Site.Params.info }}"> 
							</div>
						</div> 
						<!-- conditional content -->
						<div id="content" class="entry-content-new">{{ .Content }}</div>
					</div>
				</div>

				{{ else }}
				<!-- false -->
				<div class="flex-items">  
					<img class="content-image shadow " src="{{ .Params.image }}"> 
					
					<!-- info icon -->
					<div id="image">
						<div class="icon-position">
							<div {{if eq (len .Content) 0}} class="hidden" {{end}}> <!-- only if content -->
								<img class="info-icon" src="{{ .Site.BaseURL }}{{ .Site.Params.info }}"> 
							</div>
						</div> 
						<!-- conditional content -->
						<div id="content" class="entry-content-new">{{ .Content }}</div>
					</div>
				</div>
				{{ end }}

				<!-- buttons -->
				<div class="flex flex2" >
					<p class="text-center"><a href="{{ .Params.code_url }}" target="blank" class="btn btn-action content-button">VEIW CODE</a></p>
					<!-- <p class="text-center"><a href="{{ .Params.repo_url }}" target="blank" class="btn btn-action content-button">VEIW PIC</a></p> -->
				</div>
			</div>
			{{ end }}
		</div>

		<!-- <center class="">
			<ul class="pagination">
        {{ template "_internal/pagination.html" . }}
			</ul>
		</center> -->

	</div>	<!-- /container -->
</main>
{{ end }}
