@import url("Style.css");
@import url("Content_sub.css");

.container-about {
    width: 100%;
    padding-top: 70px;
    transform: scale(0.9);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-color: #9b59b6; */
}

.float-layout {
    padding: 5px 5px;
    float: left;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
}

.card-container {
    overflow: hidden;
    margin-bottom: -20px;
}

.card {
    background-color: rgba(233, 233, 233, 0);
    border-width: 0px;
    max-height: 90%;
    width: 50%;
    float: right;
    overflow: hidden;
}

.card-title {
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}

/*------------------- about info */
.card-desc {
    text-align: left;
    color: #444444;
    font-size: 1.3em;
}

.card-image {
    display: flex;
}

/*---------------------- picture */
div.card-image img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin-right: 60px;
}

/*---------------------------------------------------------- Responsive Devices */
@media only screen and (max-width: 992px) {
    .container-about {
        padding-top: 45px;
    }

    div.card-image img {
        width: 100%;
        border-radius: 8px;
        height: auto;
    }

    .card-image {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-top: -4px;
    }

    .card-desc {
        text-align: left;
        color: #444444;
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    div.card-image img {
        width: 50% !important;
        border-radius: 8px;
        height: auto;
    }

    .card-image {
        flex-direction: row;
        /* display: flex; */
    }

    .card {
        width: 50% !important;
        margin-top: -4px;
    }

    .card-desc {
        text-align: left;
        color: #444444;
        font-size: 1.1em;
    }
}