@import url("Style.css");
@import url("Content.css");

.bg {
	background:
		linear-gradient(rgba(178, 178, 178, 0.89),
			rgba(178, 178, 178, 0.89)) no-repeat center fixed,

		url(../images/background-home.jpg) no-repeat center fixed;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -1000;
}

body {
	overflow-y: visible;
	height: 100%;
	/* padding-bottom: 20px; */

	/* could be any color just has to be alpha 0 */
	background: none;
	background-color: rgba(125, 124, 124, 0);
}

.sub-bg {
	overflow-y: visible;
	background-color: rgba(178, 178, 178, 0.89);
	height: 100%;
	padding-bottom: 20px;
}

/* hide scrollbar */
::-webkit-scrollbar {
	width: 0em;
	height: 0em;
}

#wrapper {
	display: none;
}

/*------------------ fade in main nav content */
.content-fade {
	/* animation: fadeInAnimation ease 1s; */
	animation: fadeInAnimation ease 0s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 1;
		/* opacity: 0; */
	}

	100% {
		opacity: 1;
	}
}
/*--------------------------------------------*/

#selected {
	color: DodgerBlue;
}



/* .img {
	margin-top: 0;
} */
/* .navbar {
	padding: 0px 16px !important;
} */



.navbar-custom {
	font-family: roboto, sans-serif;
	font-weight: bold;
	font-size: 1em;
	background: #E0E0E0 !important;
}

#bottom {
	position: absolute;
	bottom: -70px;
	left: 0;
	width: 100%;
	text-align: center;
	height: auto;
	padding-top: 20px;
	opacity: 80%;
}

h1 {
	font-family: Georgia, sans-serif;
	font-size: 2em;
}

p {
	padding-left: 18%;
	padding-right: 18%;
	font-family: georgia, sans-serif;
	font-size: .9em;
	width: 100%;
}

#logo {
	font-family: freestyle script, sans-serif;
	color: DodgerBlue;
	font-weight: bold;
	font-size: 2.5em;
}

/* for 2nd nav/bcmbs */
.fixed-top-2 {
	margin-top: 140px;
}

.custom-nav-pad {
	padding-top: 105px;
}

/*-------------------------------------------------------------- breadcrumbs and logo */
.breadcrumb {
	background-color: rgb(250, 250, 250) !important;
}

.breadcrumb-custom {
	font-family: Georgia, sans-serif;
	display: block;
	z-index: 3;
	border-radius: 0;
}

.breadcrumb-font {
	font-size: 2.5em;
}

.breadcrumb-font-small {
	font-size: 2.4em;
}
/*------------------------------------------------------------------------------------*/


.fill {
	background-size: cover
}

img {
	width: 100%;
	height: auto;
}

.content-pad {
	border-radius: 8px;
	margin-bottom: 1.8em;
	box-shadow: 0px 0px 20px #555;
	/* margin-left:.01em; */
}

/*---------------------------------------------- Jumbotron (( faq, investment, faq )) */
div.jumbotron-fluid {
	padding-top: 40px;
}

.jumbotron-heading-box {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-top: 30px;
	background-color: rgba(220, 220, 220, 0.65);
	font-size: 1em;
}

.jumbotron-content-box {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 40px;
	background-color: rgba(150, 150, 150, 0.99);
	border-radius: 8px;
}

.jumbotron-text-pad {
	padding-left: 40px;
	padding-right: 40px;
	color: #444444;
	font-size: 1em;
}

.jumbotron-sub {
	padding-left: 20px;
	padding-right: 20px;
	color: #444444;
	font-size: 1em;
	font-style: italic;
	text-align: center;
}

.jumbotron-ul {
	padding-left: 80px;
	padding-right: 40px;
	color: #444444;
	font-size: 1em;
}

/* bullet offset */
ul.text-justify.jumbotron-ul{
	padding-left: 27px;
}

.display-5 {
	color: #444444;
}

@media only screen and (max-width: 992px) {
	.display-5 {
		text-align: center;
	}
	.center-jt-p {
		text-align: center !important;
		padding: 0;
	}
}
/* get rid of this for bg != gray */
@media only screen and (max-width: 400px) {
	.bg {
		background: none;
	}
	body {
		overflow-y: visible;
		background-color: rgba(178, 178, 178, 1);
		height: 100%;
	}
}
/*------------------------------------------------------------------------------------*/

.rnd-corner {
	border-radius: 8px;
}

hr {
	border: none;
	height: 1px;
	/* Set the hr color */
	color: #333;
	/* old IE */
	background-color: gray;
	/* Modern Browsers */
	padding: 0px;
}

.o {
	font-size: 0em;
}

.solid {
	opacity: 100 !important;
}

.text-justify {
	padding-left: 15px;
	padding-right: 15px;
}