header{
    display: flex;
    justify-content: center;
    background:rgba(95, 95, 97, 0.6);
    /* background-color: rgb(226, 224, 224); */
    width:auto !important;
}

hr {
    border: 0;
    width: 90%;
    color: gray;
    height: 2px !important;
}
  
h1 {
    /* font: 35px "Century Gothic", Futura, sans-serif; */
    font-weight: 500;
    /* color: rgba(59, 59, 59, 0.6); */
    color: rgb(226, 224, 224);
    text-align: center !important;
    text-align: left;
    padding: 15px;
}

h4 {
    color: rgba(52, 52, 53, 0.6);
}


/* --------------------------------------------form */
textarea {
    max-height: 30vh;
}

::placeholder {
    font-style: italic;
    font-weight: 300;
}

select:invalid {
    font-style: italic !important;
    font-weight: 300;
}
option {
    font-style: normal;
}

select {
    margin-top: 8px;
    margin-bottom: 20px;
}

.gray {
    color: rgba(52, 52, 53, 0.6) !important;
    font-weight: 400;
}
/* ------------------------------------------------- */


.body {
    /* font-family:  "roboto", sans-serif; */
    /* margin: 50px 0; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    background-color: rgb(246, 244, 244);
    align-items: center;
	min-height: 89.5vh;
	margin: 0;
    text-align: center;
}

.content {
    background-color: rgb(226, 224, 224);
    border-radius: 10px;
    min-width: 250px;
    min-height: 70vh;
    /* width: 80%; */
    margin: 30px;
    position: relative;
    display: flex;
    justify-content: center;


    /* makes width of form shorter */
    align-items: center;

    /* offsets form from top */
    flex-flow: column;

    
    overflow: auto;
    flex-wrap: nowrap;
    /* padding-bottom: 30px; */
    max-height: 70vh;
    padding-bottom: 30px;
}

.trans-pad {
    padding-bottom: 0px;
}

/* --------------------------------------------------------------bring items in content to center */
.offset {
    margin-top: -30px;
}

.btn-bg {
    background-color: rgb(149, 160, 207);
}

/* -------------------------------------------------------------------------translated text color */
.purple {
    color: rgb(134, 76, 134);
}

/* ------------------------------------------------------------translation language in translated */
.uppercase {
    text-transform: uppercase;
    font-weight: bold;
}

/* --------------------------------------------------------------- width of text box and dropdown */
@media only screen and (max-width: 500px) {
    form {
      min-width: 90%;
    }
}

form {
    width: 65%;
}

.hr-bottom {
    margin-bottom: 40px;
}

.btn {
    min-width: 150px;
}

.bottom {
    position: absolute;
    /* right: 0; */
    bottom: 30px;
}

.translated {
    max-height: 30vh;
    overflow: scroll;
    /* scroll-margin-right: -30px !important; */
}

.translated.scrollbar {
    padding-right: -30px;
}

.trans-bg {
    margin-top: 10px;
    width: 80%;
    height: 100%;
    background-color: rgb(246, 244, 244);
    padding:30px !important;
    border-radius: 4px;
    border: 1px solid rgb(198, 198, 198);
    overflow: hidden;
    margin-bottom: 40px;
}