body {
    background:   rgb(223, 223, 223);
  }

.header{
  display: flex;
  justify-content: center;
  background:rgba(95, 95, 97, 0.6);
  width:auto !important;
}

h1 {
  font: 40px "Century Gothic", Futura, sans-serif;
  font-weight: bold;
  color: rgba(59, 59, 59, 0.6);
  text-align: center !important;
  text-align: left;
  padding-bottom: 7px;
}

  ol, ul {
    font-size: 20px;
    font-weight: bold;
    color: rgba(95, 95, 97, 0.6);
    /* text-align: left !important; */
    margin-left: 31px;
    margin-top: 10px;
    list-style-type: none;
  }

  li {
    width: 250px;
  }

  button {
    margin-top: -110px;
    border-radius: 8px !important;
    border-style: solid;
    color: rgba(95, 95, 97, 0.6);
    border-color: rgba(95, 95, 97, 0.6);
    border-width: 2px;
    font-size:20px;
    background-color: rgb(231, 231, 231)f;
    margin: 3px;
    min-width: 170px;
    /* text-align: left !important; */
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .square {
    background: rgb(231, 231, 231);
    border: 1px solid #999;
    border-radius: 0 !important;
    float: left;
    font-size: 125px;
    font-weight: normal;
    line-height: 135px;
    height: 135px;
    width: 135px !important;
    min-width: 0;
    margin: 0;
    padding: 0;
    text-align: center !important;
    width: 135px;
    color:  #999;
    text-shadow: 0px 0px 2px rgba(51, 51, 51, 1), 0px 0px 2px rgba(51, 51, 51, 1), 0px 0px 2px rgba(51, 51, 51, 1),
                 0px 0px 1px rgba(51, 51, 51, 1), 0px 0px 2px rgba(51, 51, 51, 1), 0px 0px 2px rgba(51, 51, 51, 1);
  }

  /* .square:hover {
    background: rgb(215, 215, 215);
  } */

  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .game-board {
   display: flex;
   width:405px;
   height: 405px;
   border-radius: 20px;
   border-width: 5px;
   border-style: solid;
   border-color: rgb(126, 126, 126);
   overflow: hidden;
   background:   #999;
   margin-bottom: 40px;
  }

  /* main title */
  .status {
    font: 30px "Century Gothic", Futura, sans-serif;
    font-weight: bold;
    width: 400px;
    color: rgba(95, 95, 97, 0.6);
    text-align: center !important;
     margin-left: -7px;
  }

  .game-info {
    width: 440px;
    margin-left: 50px;
    text-align: center !important;
    margin-top: -5px;
  }

  @media only screen and (max-width: 450px){
    .shrink {
      zoom: 70%;
      margin-top: 50px;
      /* margin-left: 11%; */
      /* overflow:hidden; */
    }
  }

  .green {
    background: rgb(91, 140, 91);
  }
